@import '../../assets/fonts/fonts.css';
@import 'tailwindcss';
@import './components.css';
@import './scrollbar.css';

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-display: swap;
}

body {
  font-display: swap;
}

::selection {
  @apply bg-primary/30 text-text;
}

input::selection,
textarea::selection {
  @apply bg-primary/30 text-text;
}

.dark ::selection {
  @apply bg-primary/30 text-dark-text;
}

.dark input::selection,
.dark textarea::selection {
  @apply bg-primary/30 text-dark-text;
}

a,
button,
input,
textarea {
  @apply outline-0;
}

button {
  @apply cursor-pointer;
}

h1 {
  @apply text-2xl leading-tight font-bold max-sm:text-xl md:text-3xl lg:text-4xl;
}

h2 {
  @apply text-xl leading-snug font-semibold;
}

h3 {
  @apply text-xl leading-snug font-semibold;
}

h4 {
  @apply text-xl leading-relaxed font-medium max-sm:text-base md:text-2xl lg:text-3xl;
}

h5 {
  @apply text-lg leading-relaxed font-medium max-sm:text-base md:text-xl lg:text-2xl;
}

h6 {
  @apply text-base leading-relaxed font-medium max-sm:text-sm md:text-lg lg:text-xl;
}

@theme {
  --color-bg: #F8FAFC;
  --color-text: #0F172A;
  --color-primary: #6366F1;
  --color-primary-dark: #4F46E5;
  --color-primary-gradient: #818CF8;
  --color-secondary: #64748B;
  --color-border: #E5E7EB;
  --color-input-placeholder: #94A3B8;
  --color-border-focus: #6366F1;
  --color-btn: #6366F1;
  --color-btn-cancel: #EF4444;
  --color-btn-disabled: #CBD5E1;
  --color-btn-submit: #22C55E;

  --color-dark-bg: #0F172A;
  --color-dark-text: #E5E7EB;
  --color-dark-primary: #818CF8;
  --color-dark-primary-dark: #6366F1;
  --color-dark-primary-gradient: #A5B4FC;
  --color-dark-secondary: #94A3B8;
  --color-dark-border: #1F2937;
  --color-dark-input-placeholder: #64748B;
  --color-dark-border-focus: #818CF8;
  --color-dark-btn: #6366F1;
  --color-dark-btn-cancel: #EF4444;
  --color-dark-btn-disabled: #CBD5E1;
  --color-dark-btn-submit: #22C55E;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid black;
}

.dark a:focus-visible,
.dark button:focus-visible {
  outline: 2px solid white;
}
a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}
