@font-face {
  font-family: 'Podkova';
  src: url('/fonts/Podkova-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

html,
body {
  font-family: 'Podkova', serif;
}
